<div class="container">
  <div class="ml-3 h4 m-4">プロフィール編集</div>
  <div class="row justify-content-center">
    <%= form_with model: @menber,url: menbers_path,mehod: :patch  do |f| %>
      <div class="form-group d-flex flex-column align-items-center">
        <%= image_tag current_menber.get_profile_image,size: "150x150",class: "my-3 border rounded-circle" %>
        <%= f.file_field :profile_image,class: "form-control"%>
      </div>
      <div class="col form-group">
        <label>姓</label><br>
        <%= f.text_field :first_name,class: "form-control"%>
      </div>
      <div class="col form-group">
       <label>名</label><br>
        <%= f.text_field :last_name,class: "form-control" %>
      </div>
      <div class="col form-group">
        <label>メールアドレス</label><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control" %>
      </div>
      <div class="actions row justify-content-center">
        <%= f.submit "保存する",class: "btn btn-info w-50" %>
      </div>
    <% end %>
  </div>
</div>