<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-sm-offset-3">
      <div><p>プロフィール</p></div>
      <%=@posts.length %>投稿数
      <%=current_menber.full_name %>
      <%=current_menber.email %>
      <%=link_to edit_menbers_path,class: "btn btn-success" do %>
        編集する
      <% end %>
    </div>
    <div class="sidebar col-sm-9 overflow-auto columns" style="width:18rem">
      <p>Sidebar</p>
      <% @posts.each do |post| %>
        <%=post.title%>
        <% if post.image.attached? %>
          <%=image_tag post.image,size: "200x200"%>
        <% end %>
        <!--<span>評価：</span>-->
        <div id="star-rate-<%= post.id %>"></div>
        <script>
          $('#star-rate-<%= post.id %>').raty({
            size: 36,
            starOff: "<%= asset_path('star-off.png') %>",
            starOn: "<%= asset_path('star-on.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            half: true,
            readOnly: true,
            score: <%= post.star %>
          });
        </script>
        <!--<%= post.star %>レビュー整数-->
        <% post.genres.each do |genre| %>
           <span class= 'badge badge-primary'><%= genre.soup %></span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>