<div class="container">
  <div class="row">
    <div class="col">
       <div class="h3 mt-5">投稿一覧</div>
      <table class="table">
        <thead class="bg-light">
          <tr>
            <th>会員名</th>
            <th></th>
            <th>タイトル</th>
            <th>本文</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @kaminari.each do |post| %>
          <tr>
            <td><%= post.menber.full_name %></td>
          <% if post.image.attached? %>
            <td><%= image_tag post.image,size: "100x100" %></td>
          <% end %>
            <td>
               <%= post.title %>
            </td>
            <td><%= post.body.truncate(10) %></td>
            <td>
              <%=link_to "詳細",admin_post_path(post),class: "btn btn-success" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
    <%= paginate @kaminari,theme: 'twitter-bootstrap-4' %>
</div>