<div class="container">
  <div class="row">
    <div class="col">
      <h5 class="m-4">
        <%= @post.member.full_name %>さんの投稿詳細
      </h5>
      <div class="row mt-3 mx-4">
         投稿ID
        <div class="col">
         <%=@post.id %>
        </div>
      </div>
      <div class="row mt-3 mx-4">
        <div class="col">
          <% if @post.image.attached? %>
            <%= image_tag @post.image,size: "200x200" %>
          <% end %>
        </div>
      </div>
      <div class="row mt-3 mx-4">
         ジャンル
        <% if @post.genres.present? %>
          <% @post.genres.each do |genre| %>
            <span class= 'd-flex align-items-center badge badge-secondary'><%= genre.soup %></span>
          <% end %>
        <% end %>
      </div>
      <div class="row mt-3 mx-4">
         タイトル
        <div class="col">
          <%=@post.title %>
        </div>
      </div>
      <div class="row mt-3 mx-4">
         本文
        <div class="col">
          <%=@post.body %>
        </div>
      </div>
      <div class="row mt-3 mx-4">
         レビュー
        <div class="col">
          <%=@post.star %>
        </div>
      </div>
      <div class="row mt-3 mx-4">
        <%=link_to "削除",admin_post_delete_path,method: :delete,data: {confirm: "削除しますか"},class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>