<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <p class="col h3 text-light d-flex justify-content-center">
       ようこそ麺Listへ<br>
      </p>
    </div>
  </div>
</div>
  <div class="container">
    <p class="text-center">新着の投稿</p>
   <div class="row card-deck">
        <% @posts.last(5).each do |post| %>
          <div class="card p-0">
              <%=link_to post_path(post) do %>
                <% if post.image.attached? %>
                 <%=image_tag post.image,size: "200x200"%>
                <% end %>
              <% end %>
            <div class="card-body p-0">
                <div><%=post.created_at.strftime('%Y/%m/%d')%></div>
                <% post.genres.each do |genre| %>
                  <div class= 'badge badge-secondary'><%= genre.soup %></div>
                <% end %>
                <h6 class= "card-title m-0"><%=post.title%></h6>
                <!--<span>評価：</span>-->
                <span id="star-rate-<%= post.id %>"></span>
                <script>
                  $('#star-rate-<%= post.id %>').raty({
                    size: 36,
                    starOff: "<%= asset_path('star-off.png') %>",
                    starOn: "<%= asset_path('star-on.png') %>",
                    starHalf: "<%= asset_path('star-half.png') %>",
                    half: true,
                    readOnly: true,
                    score: <%= post.star %>
                  });
                </script>
                <span class="ml-2"><%= post.star %></span>
            </div>
          </div>
        <% end %>
   </div>
  </div>