<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <p class="col h3 text-light d-flex justify-content-center">
       ようこそ麺Listへ<br>
      </p>
    </div>
  </div>
</div>
<p class="text-center">新着の投稿</p>
<div class="container">
  <div class="row">
    <% @posts.last(6).reverse_each do |post| %>
    <div class="col-lg-4 col-md-6 col-6">
     <div class="card-deck">
      <div class="card p-1 mb-3" style="width: 10rem;">
        <img class="card-img ">
          <%= link_to post_path(post) do %>
            <% if post.image.attached? %>
              <%= image_tag post.image,width: "100%" %>
            <% end %>
          <% end %>
        </img>
        <div class="card-body bg-dark text-light my-1 py-0" style="height: 12rem;">
          <div class="row d-flex justify-content-start"><%=post.created_at.strftime('%Y/%m/%d')%></div>
          <div class="h5 card-title"><%=post.title%></div>
          <div class="card-text">
            <%= post.body.truncate(12) %>
          </div>
            <span class="row d-flex justify-content-end align-self-end" id="star-rate-<%= post.id %>"></span>
              <script>
                $('#star-rate-<%= post.id %>').raty({
                  size: 36,
                  starOff: "<%= asset_path('star-off.png') %>",
                  starOn: "<%= asset_path('star-on.png') %>",
                  starHalf: "<%= asset_path('star-half.png') %>",
                  half: true,
                  readOnly: true,
                  score: <%= post.star %>
                });
              </script>
            <% post.genres.each do |genre| %>
                <div class='mx-1 badge badge-secondary'><%= genre.soup %></div>
            <% end %>
        </div>
      </div>
     </div>
    </div>
    <% end %>
  </div>
</div>