<div class="container">
  <div class="row">
  <% posts.each do |post| %>
    <div class="col-lg-4 col-md-6 col-sm-6">
     <div class="card-deck">
      <div class="card p-1">
        <div>
          <%= link_to post_path(post) do %>
            <% if post.image.attached? %>
              <%= image_tag post.image,width: "100%" %>
            <% end %>
          <% end %>
        </div>

        <div class="card-body bg-dark text-light mt-1" style="height: 12rem;">
              <%=post.created_at.strftime('%Y/%m/%d')%>
          <h5 class="card-title mb-0"><%=post.title%></h5>
          <div class="card-text">
            <div>
              <% post.genres.each do |genre| %>
                <span class= 'badge badge-secondary'><%= genre.soup %></span>
              <% end %>
            </div>
            <span id="star-rate-<%= post.id %>">
              <script>
                $('#star-rate-<%= post.id %>').raty({
                  size: 36,
                  starOff: "<%= asset_path('star-off.png') %>",
                  starOn: "<%= asset_path('star-on.png') %>",
                  starHalf: "<%= asset_path('star-half.png') %>",
                  half: true,
                  readOnly: true,
                  score: <%= post.star %>
                });
              </script>
              <%= post.star %>
            <div class="row d-flex justify-content-end">
              <i class="far fa-comment-alt d-flex align-items-center text-info mx-2"><%= post.comments.count%></i>
              <!--メンバーがサインインかつ、idが１では無いとき-->
              <% if menber_signed_in? && menber.id != 1 %>
                <!--投稿に紐ついているいいねがログインしているメンバーのものなら-->
                  <% if post.favorited_by?(current_menber) %>
                    <%= link_to post_favorites_path(post), method: :delete do %>
                      <i class="fas fa-heart text-danger"><%= post.favorites.count%></i>
                    <% end %>
                  <% else %>
                    <%= link_to post_favorites_path(post), method: :post do %>
                      <i class="fas fa-heart text-muted"><%= post.favorites.count %></i>
                    <% end %>
                  <% end %>
              <% else %>
                <i class="fas fa-heart text-muted"><%= post.favorites.count %></i>
              <% end %>
            </div>
            </span>
          </div>
        </div>
      </div>
     </div>
    </div>
  <% end %>
  </div>
</div>