<p class="text-center my-3">投稿一覧</p>
<div class="input-group my-2">
  <%= form_with url: posts_path,method: :get do |f|%>
    <!--ジャンル検索-->
  　<%= select_tag :genre_id,options_from_collection_for_select(Genre.all,:id,:soup,params[:genre_id]),{prompt: 'タグを選択'}%>
  　<!--キーワード検索-->
  　<%= f.text_field :search,placeholder: "キーワードを入力" %>
  　<%= f.submit "検索",class: "fas fa-search btn btn-sm btn-primary" do%>
  　  <!--<i class="fas fa-search"></i>-->
  　<% end %>
  <% end %>
</div>

<%= render 'post_list',post: @post,posts: @posts,menber: @menber %>