<h1>投稿一覧</h1>
<%= form_with url: posts_path,method: :get, class: 'boards_searchForm' do %>
    <%=select_tag :genre_id,options_from_collection_for_select(Genre.all,:id,:soup,params[:genre_id]),
      {
        prompt: 'タグで検索',
        onchange: 'submit(this.form);'
      }%>
    <% end %>

<% @posts.each do |post| %>
  <%=post.title%>
  <%=post.body%>
  <% if post.image.attached? %>
    <%=image_tag post.image,size: "200x200"%>
  <% end %>
  <%=post.star%>

  <% post.genres.each do |genre| %>
     <span class= 'badge badge-primary'><%= genre.soup %></span>
  <% end %>
<% end %>