<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-lg-7 order-md-1">
      <p class="text-center">投稿リスト</p>
        <div class="card mb-2">
          <div class="row no-gutters bg-dark">
            <div class="col-md-7">
              <%=image_tag @post.image,width: "100%"%>
            </div>
            <div class="col-lg-5 col-md-5">
              <div class="card-body text-light">
                <div><%=@post.created_at.strftime('%Y/%m/%d')%></div>
                <div class="h4 mb-0"><%=@post.title%></div>
                <% @post.genres.each do |genre| %>
                  <span class= 'badge badge-secondary my-2'><%= genre.soup %></span>
                <% end %>
                <div><%= @post.body.truncate(13) %></div>
                <div id="star-rate-<%= @post.id %>"></div>
                <script>
                  $('#star-rate-<%= @post.id %>').raty({
                  size: 36,
                  starOff: "<%= asset_path('star-off.png') %>",
                  starOn: "<%= asset_path('star-on.png') %>",
                  starHalf: "<%= asset_path('star-half.png') %>",
                  half: true,
                  readOnly: true,
                  score: <%= @post.star %>
                  });
                </script>
                <%#= post.star %>
               <div class="row d-flex align-items-center mt-2">
                <i class="far fa-comment-alt  text-info mx-3"><%= @post.comments.count%></i>
                <% if menber_signed_in? && @menber.id != 1 %>
                <!--投稿に紐ついているいいねがログインしているメンバーのものなら-->
                  <% if @post.favorited_by?(current_menber) %>
                    <%= link_to post_favorites_path(@post), method: :delete do %>
                      <i class="fas fa-heart text-danger"><%= @post.favorites.count%></i>
                    <% end %>
                  <% else %>
                    <%= link_to post_favorites_path(@post), method: :post do %>
                      <i class="fas fa-heart text-muted"><%= @post.favorites.count %></i>
                    <% end %>
                  <% end %>
                <% else %>
                  <i class="fas fa-heart text-muted"><%= @post.favorites.count %></i>
                <% end %>
               </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="sidebar col-lg-5 order-lg-2 order-md-3 order-sm-3">
      <p class="">コメント数:<%= @post.comments.count %></p>
      <% @post.comments.each do |post_comments| %>
        <div class="card my-2 bg-light">
          <div class="row">
            <div class="card-title ml-3 mt-2">
              <%= image_tag post_comments.menber.get_profile_image,size: "45x45",class: "border rounded-circle"%>
              <%= post_comments.menber.full_name %>
              <%= post_comments.created_at.strftime('%Y/%m/%d') %>
            </div>
          </div>
          <div class="card-body p-2">
            <%= post_comments.post_comment %>
            <% if post_comments.menber == current_menber %>
              <%=link_to "削除",post_comment_path(post_comments.post,post_comments),method: :delete,data:{confirm: "このコメントを削除しますか？"},class: "float-right btn btn-outline-danger btn-sm"%>
           <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col order-md-2 order-sm-2 mr-4 d-flex justify-content-start">
      <div class="row my-2">
        <% if menber_signed_in? %>
            <%= image_tag current_menber.get_profile_image,size: "50x50",class: "border rounded-circle"%>
            <%= form_with model: [@post,@post_comment] do |f| %>
            <div class="col-6 form-group">
              <%= f.text_area :post_comment,placeholder: "コメントを書く" %>
              <%= f.submit "投稿する",class: "btn btn-outline-info btn-sm w-75"%>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>