<div class="float-left m-4">
  <%=image_tag @post.menber.get_profile_image,size: "75x75",class: " border rounded-circle" %>
  <%=@post.menber.full_name %>
</div>

<div class="container">
  <div class="row  d-flex justify-content-center mt-5">
    <h1 class= ""><%= @post.title %></h1>
      <div class="pl-5 pb-3" id="star-rate-<%= @post.id %>">
        <script>
          $('#star-rate-<%= @post.id %>').raty({
            size: 50,
            starOff: "<%= asset_path('star-off.png') %>",
            starOn: "<%= asset_path('star-on.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            half: true,
            readOnly: true,
            score: <%= @post.star %>
          });
        </script>
          <span class="h5">
            <%= @post.star%><br>
          </span>
          <% @post.genres.each do |genre| %>
            <div class= 'mt-2 badge badge-secondary'><%= genre.soup %></div>
          <% end %>
      </div>
    <div class="col-7 border">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <%= link_to post_path(@post) do  %>
              <% if @post.image.attached? %>
                <%= image_tag @post.image,width: "100%;"%>
              <% end %>
            <% end %>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5><%=@post.created_at.strftime('%Y/%m/%d')%></h5>
              <div class="mx-3"><%= @post.body%></div>
              <div>
                <% if @post.favorited_by?(current_menber) %>
                   <!--一致するレコードが存在する＝すでにいいね済みの場合はdestroyアクションへ-->
                  <%= link_to post_favorites_path(@post), method: :delete do %>
                      <div class="ml-3" style="color:red;">♥ <%= @post.favorites.count%></div>
                  <% end %>
                 <% else %>
                  <!--一致するレコードが存在しない＝まだいいねしていない場合はcreateアクションへ-->
                  <%= link_to post_favorites_path(@post), method: :post do %>
                      <div class="ml-3" style="color:gray;">♡ <%= @post.favorites.count %></div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="sidebar col-5">

    </div>
  </div>
</div>