<div class="float-left m-4">
  <%=image_tag @post.menber.get_profile_image,size: "75x75",class: " border rounded-circle" %>
  <%=@post.menber.full_name %>
</div>

<div class="container">
  <div class="row  d-flex justify-content-center mt-5">
    <h1 class= ""><%= @post.title %></h1>
      <div class="pl-5 pb-3" id="star-rate-<%= @post.id %>">
        <script>
          $('#star-rate-<%= @post.id %>').raty({
            size: 50,
            starOff: "<%= asset_path('star-off.png') %>",
            starOn: "<%= asset_path('star-on.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            half: true,
            readOnly: true,
            score: <%= @post.star %>
          });
        </script>
          <span class="h5">
            <%= @post.star%><br>
          </span>
          <% @post.genres.each do |genre| %>
            <div class= 'mt-2 badge badge-secondary'><%= genre.soup %></div>
          <% end %>
      </div>
    <div class="col-7">

    </div>
    <div class="col-5">

    </div>
  </div>
</div>