<div class="container">
  <div class="row">
    <div class="col">
       <h4>会員一覧</h4>
        </div>
      <table class="table">
        <thead>
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>退会ステータス</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @kaminari.each do |menber| %>
          <tr>
            <td>
               <%= menber.id %>
            </td>
            <td>
              <!--メンバーの名前を保存後、クラスメソッドに変更する-->
               <%=menber.first_name %>
            </td>
            <td><%= menber.email %></td>
            <!--下に退会ステータスを表示する-->
            <% if menber.is_active %>
              <td>退会</td>
            <%else%>
             <td>有効</td>
            <% end %>
            <td><%= link_to "退会する",admin_menber_path(menber.id),method: :patch,data:{confirm: "退会させますか？"},class: "btn btn-danger"%></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <%= paginate @kaminari,theme: 'twitter-bootstrap-4' %>
  </div>
</div>