<!DOCTYPE html>
<html>
  <head>
    <title>Mentalist</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
  </head>

  <body class="bg-light">
  <header>
      <div class= "row d-flex justify-content-center bg-dark">
        <p class= "text-muted m-0"><%= flash[:notice] %></p>
      </div>
      <!--<p class="alert alert-primary"></p>-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark my-0 py-0 h6">
      <%=link_to root_path do %>
        <%= image_tag "logo_transparent.png",width: '150px',class: "img-fluid"%>
      <% end %>
    <% if member_signed_in? %>
      <%=link_to my_page_members_path do %>
          <%= image_tag current_member.get_profile_image,size: "55x55",class: "my-1" %>
      <% end %>
    <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <% if admin_signed_in? %>
      <ul class="navbar-nav mx-auto">
        <li class="nav-item ">
          <%= link_to admin_posts_path,class: "nav-link" do %>
           <i class="far fa-list-alt"></i> 投稿一覧
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_members_path,class: "nav-link" do %>
           <i class="far fa-address-book"></i> 会員一覧
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_genres_path,class: "nav-link" do %>
           <i class="fas fa-tags"></i> ジャンル
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to destroy_admin_session_path,method: :delete,class: "nav-link" do %>
           ログアウト
          <% end %>
        </li>
      </ul>
    <% elsif member_signed_in? %>
      <ul class="navbar-nav mx-auto">
        <li class="nav-item text-light">
          <%= link_to my_page_members_path,class: "nav-link" do %>
           <i class="far fa-address-card"></i> マイページ
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to posts_path,class: "nav-link" do %>
           <i class="far fa-list-alt"></i> 一覧
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_post_path,class: "nav-link" do %>
           <i class="far fa-edit"></i> 投稿
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to like_list_members_path,class: "nav-link" do %>
           <i class="far fa-bookmark"></i> お気に入り
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to destroy_member_session_path,method: :delete,class: "nav-link" do %>
           ログアウト
          <% end %>
        </li>
      </ul>
    <% else %>
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <%= link_to posts_path,class: "nav-link" do %>
           <i class="far fa-list-alt"></i> 一覧
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_post_path,class: "nav-link" do %>
           <i class="far fa-edit"></i> 投稿
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_member_registration_path,class: "nav-link" do %>
           <i class="far fa-plus-square"></i> 会員登録
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_member_session_path,class: "nav-link" do %>
          <i class="far fa-check-square"></i> ログイン
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to guest_sign_in_path,method: :post,class: "nav-link" do %>
           <i class="fas fa-walking"></i> ゲスト体験
          <% end %>
        </li>
      </ul>
    <% end %>
    </nav>
  </header>
   <%= yield %>
  <footer class="footer my-5">
    <div class="fixed-bottom bg-dark mx-auto">
      <p class="text-muted text-center mt-2">© 2022 麺多List</p>
    </div>
  </footer>
    <%# bootstrap%>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>