<!DOCTYPE html>
<html>
  <head>
    <title>Mentalist</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
  </head>

  <body class="bg-light">
  <header>
      <%= flash[:notice] %>
    <nav class="navbar navbar-expand-lg navbar-light bg-white my-0 h6">
      <%=link_to root_path do %>
        <%= image_tag "header_logo.png",width: '120px',class: "img-fluid"%>
      <% end %>
    <% if menber_signed_in? %>
      <%=link_to my_page_menbers_path do %>
          <%= image_tag current_menber.get_profile_image,size: "60x60" %>
      <% end %>
    <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <% if admin_signed_in? %>
      <ul class="navbar-nav mx-auto">
        <li class="nav-item ">
          <%= link_to admin_posts_path,class: "nav-link" do %>
           <i class="fas fa-adjust "></i>投稿一覧
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_menbers_path,class: "nav-link" do %>
           <i class="fas fa-adjust"></i>会員一覧
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_genres_path,class: "nav-link" do %>
           <i class="fas fa-adjust"></i>ジャンル
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to destroy_admin_session_path,method: :delete,class: "nav-link" do %>
           <i class="fas fa-adjust"></i>ログアウト
          <% end %>
        </li>
      </ul>
    <% elsif menber_signed_in? %>
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <%= link_to my_page_menbers_path,class: "nav-link" do %>
           マイページ
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to posts_path,class: "nav-link" do %>
           投稿一覧
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_post_path,class: "nav-link" do %>
           新規投稿
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to like_list_menbers_path,class: "nav-link" do %>
           いいねリスト
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to destroy_menber_session_path,method: :delete,class: "nav-link" do %>
           ログアウト
          <% end %>
        </li>
      </ul>
    <% else %>
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <%= link_to posts_path,class: "nav-link" do %>
           投稿一覧
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_post_path,class: "nav-link" do %>
           新規投稿
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_menber_registration_path,class: "nav-link" do %>
           会員登録
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_menber_session_path,class: "nav-link" do %>
          ログイン
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to menbers_guest_sign_in_path,method: :post,class: "nav-link" do %>
           ゲスト体験
          <% end %>
        </li>
      </ul>
    <% end %>
    </nav>
  </header>
   <%= yield %>
  <footer class="footer my-5">
    <div class="fixed-bottom bg-white  mx-auto">
      <p class="text-muted text-center">© 2022 麺List</p>
    </div>
  </footer>
    <%# bootstrap%>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>